body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.nav-link {
  color: white;
  text-decoration:none;
}

.bg-dark {
  background-color: #343a40 !important;
}

spacer {
  flex: 1 1 auto;
}
.mat-sidenav-content{
  display: table;
}


.dark {
  background-color: #343a40 !important;
}

.grid-container {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  display: inline-flex;
  align-items: center;
  grid-gap: 1px;
  padding: 15px;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #343a40;
}

.button {
  background-color: #343a40;
}

.acteurs {
  height: 351px;
  width: 231px;
}

.errorImport {
  color: red;
}

.okImport {
  color: green;
}