body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-link {
  color: white;
  text-decoration:none;
}

.bg-dark {
  background-color: #343a40 !important;
}

spacer {
  flex: 1 1 auto;
}
.mat-sidenav-content{
  display: table;
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #343a40 !important;
}

.myDiv {
  
  display: grid;
}